# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.2048Prototype.iml
# Datasource local storage ignored files
/../../../../../../:\Downloads\2048Prototype\.idea\.idea.2048Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
